@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap");
* {
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  /* text-transform: capitalize;
  -webkit-transition: all .2s linear; */
  /* transition: all .2s linear; */
}

html {
  /* font-size: 62.5%; */
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: #000;
}

html::-webkit-scrollbar-thumb {
  background: #f00;
}

body {
  background: #000;
}

.header{
    display: flex;
    width: 90%;
    height: 10vh;
    margin:auto;
    border: brown;
    align-items: center;
    
}

  
.logo{
    color: white;
    flex:1;
    font-size: 1.9rem;
}
.logo #red{
    color:red;
}
#menu-btn{
    filter: invert();
    font-size: 1.5rem;
    display: none;
}
#navbar{
    flex:1;
    margin-top: 15px;
    z-index: 1000;


}
#navbar ul{
    display: flex;
    justify-content: space-evenly;
    margin: 0px 45px;
    list-style: none;
}
#navbar ul li a{
    color: white;
    display:block;
    padding: 15px 20px;
}
#navbar ul li a:hover{
    background-color: red;
}

.wrapper{
    width: 100%;
    overflow:hidden;
}
.content{
    position:absolute;
    top: 35%;
    left:12%;
    max-width: 1170px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
   
}
.content span{
    font-size:1.4rem ;
    color:red;
    margin-bottom:0.5rem;
    
}
.home .active .content span{
    opacity: 0;
    animation: text 0.5s ease forwards;
    animation-delay:1s;

}
.content h3{
    font-size:2rem ;
    color:white;
    margin-bottom:0.5rem;
} 
.slide-image.activeImg .content h3{
    opacity: 0;
    animation: text 0.5s ease forwards;
    animation-delay:1.2s;

}
.content .btn{
    background-color:red;
    color:white;
    padding: 0.8rem 2rem;
    z-index:1;
    clip-path: polygon(100% 0, 100% 71%, 90% 100%, 0 100%, 0 0);
    border-radius:0.2rem;
    font-size: 1.2rem;
    cursor: pointer;

}
.slide-image.activeImg .content .btn{
    opacity: 0;
    animation: text 0.5s ease forwards;
    animation-delay:1.4s;

}
@keyframes text{
    0%{
        opacity: 0;transform: translateX(-100px);
    }
    100%{
        opacity: 1;transform: translateX(0px);
    }
}
.content .btn:hover{
    transform: scale(1.1);

}

.slides-container{
    
    height: 80vh;
    position: relative;
}
.slide-image{
    height:100%;
    width: 100%;
    position:absolute;
    object-fit:cover;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    display: none;
    animation:slide 3s ease;
   
    
}
@keyframes slide{
    0%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1.1);
    }
}
.slide-image.activeImg{
    display: flex;
}
.slide-image img{
    
    height:100%;
    width:100%;
    /* object-fit: cover; */
}
.prev-btn,.next-btn {
    position: absolute;
    top:50%;
    z-index:100;
   transform: translateY(-50%);
   cursor: pointer;
   transition: 400ms;
   /* background-color:red; */


}
.prev-btn{
    left:2%;
}
.next-btn {
    
    right:2%;

}
.navigation-dots{
    position: absolute;
    display:flex;
    align-items:center;
    justify-content:center;
    margin-top:-20px;
    left: 50%;
   
  
}
.navigation-dots div{
    width:16px;
    height: 16px;
    border:2px solid black;
    background: #333;
    border-radius:50%;
    cursor: pointer;
    margin: 0px 6px;
    transition:400ms;
    z-index: 1;
   

}
.navigation-dots div.activeDots{
    background:#eee;
}


/* about-section */

.about{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    flex-wrap: wrap;
}
#imgContainer{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 1rem 1rem;
    flex: 1;
    flex-wrap:wrap ;
    
}
#imgLogo{
    display:flex;
    flex: 1;
    position: relative;
    margin-top: 3rem;
}
#imgLogo img{
    width: 85%;
    object-fit: cover;
    object-position: center;
    margin: 1rem auto;
    cursor: pointer;
}
#imgLogo img:hover{
    transform: scale(1.01);
}
#imgLogo::before,
#imgLogo::after{
    content: "";
    background-color: red;
    position: absolute;
    z-index: -1;
    height: 9rem;
    width: 9rem;

    
}
#imgLogo::before{
    top: 0%;
    left: 5%;
}
#imgLogo::after{
    bottom: 0%;
    right: 5%;
}


.aboutContainer{
    display: flex;
    flex: 1;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    flex-wrap:wrap ;
    padding-right: 7rem;
    margin-top: 2rem;
    
}
.writingContent{
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-top: 2rem;
   
}
.writingContent h3{
    color:red;
    font-size: 1.5rem;
    font-weight: 2rem;
}
.writingContent h2{
    font-size: 3rem;
    font-weight: 2rem;
}
.writingContent p{
    color: rgb(90, 90, 90);
    font-weight: 3rem;
}
.somePoints{
    display:flex;
    margin-top: 2.5rem;
    flex-wrap: wrap;
    /* background-color: yellow; */
    
    
}
.pointBox{
    display: flex;
   
    flex-direction: column;
    margin-bottom: 2rem;
    text-align: justify;
    width: 50%;
    padding: 0 4rem 0rem 0;

}

.pointBox h3{
    margin-bottom: 4px;
}
.pointBox h3 i{
    color: red;
    margin-right: 1rem;
}
.pointBox p{
    color: rgb(90, 90, 90);
    font-weight: 3rem;
}
#readBtn{
    position: relative;
    left: 0;
    top: 0;
    background-color:red;
    color:white;
    padding: 0.8rem 2rem;
    z-index:1;
    clip-path: polygon(100% 0, 100% 71%, 90% 100%, 0 100%, 0 0);
    border-radius:0.2rem;
    font-size: 1.2rem;
    cursor: pointer;
    

}
#readBtn:hover{
    transform: scale(1.1);
}

/* features */

.features{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
    position: relative;
}
.mainBox{
    display: flex;
    width: 100%;
    margin: auto;
    /* height:46.5rem; */
    flex-wrap: wrap;
}

.features h2 span{
    display: flex;
    width: 13%;
    padding: 0.5rem 0;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
    border:2px solid rgb(59, 59, 59);
    border-radius: 0.3rem;
    color: red;
    margin-top: 2rem;
    background-color: black;

}
.features h2 span::before{
    content: "";
    position: absolute;
    background:rgb(59, 59, 59);
    width: 100%;
    height:0.1rem;
    z-index: -1;

}
.fContainer{
    display: flex;
    flex-direction:column;
    flex:1;
    background-color: rgb(36, 35, 35);
    
}
.fContainer2{
    display: flex;
    flex:1;
    flex-direction: column;
    flex-direction: column-reverse;
    background-color: rgb(36, 35, 35);
    /* border: 2px solid green; */
 

}

.fImage img{
    width:100%;
    cursor:pointer;
    
}
.fImage img:hover{
    transform: scale(1.02);

}


.fContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align:center;
    flex:1;
   

}
.fContent2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align:center;
    flex:1;
}
.fContent h3,
.fContent2 h3{
    color: red;
    margin-top: 0.5rem;
}
.fIcon{
    margin-top: 0.5rem;
    filter: invert();

    
}
.fContent p,
.fContent2 p{
    margin-top: 0.5rem;
    color: rgb(153, 149, 149);
}
.fBtn{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    background-color:red;
    color:white;
    padding: 0.5rem 1.4rem;
    clip-path: polygon(100% 0, 100% 71%, 90% 100%, 0 100%, 0 0);
    border-radius:0.2rem;
    font-size: 1.2rem;
    cursor: pointer;
}
.fBtn:hover{
    transform: scale(1.1);
}


/* pricing */
.pricing{
    display:flex;
    flex-wrap: wrap;
    width:80%;
    margin:auto;
    margin-top: 2rem;
    margin-bottom: 2rem;

}
.pContent1,
.pContent2,
.pContent3{
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: flex-start;
    flex-wrap: wrap;
    
}
.pContent1{
    padding: 0.5rem 0.8rem;
}
.pContent2{
    clip-path: polygon(0 0, 100% 0, 100% 75%, 84% 100%, 0 100%, 0% 50%);
    background-color: rgb(36, 35, 35);
}
.pContent2,
.pContent3{
    justify-content: center;
    align-items: center;
}
.pContent2 h3,
.pContent3 h3{
    color: white;
    font-size: 1.5rem;
}
.pContent2 h2,
.pContent3 h2{
    margin-bottom: 0.5rem;
}
.pContent2 h2 span,
.pContent3 h2 span{
    color: red;
    font-size: 3rem;
    font-weight: bolder;
    
}
.pContent2 h2 strong,
.pContent3 h2 strong{
    color: white;
}
.pContent1 h3{
    color: red;
    margin-bottom: 0.5rem;
    
}
.pContent1 h1{
    color: white;
    font-size: 3rem;
    margin-bottom: 0.5rem;
}
.pContent1 p,
.pContent2 p,
.pContent3 p{
    color: white;
    margin-bottom: 1rem;
}
.list p i{
    color:red;
    margin-right: 0.3rem;
}
.pBtn{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    background-color:red;
    color:white;
    padding: 0.5rem 1.4rem;
    clip-path: polygon(100% 0, 100% 71%, 90% 100%, 0 100%, 0 0);
    border-radius:0.2rem;
    font-size: 1.2rem;
    cursor: pointer;

}
.pBtn:hover{
    transform:scale(1.1);
}


/* trainers  */

.trainers{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
    position: relative;
    margin-bottom:2rem
}

.trainers h2 span{
    display: flex;
    width: 15%;
    padding: 0.5rem 0;
    justify-content: center;
    align-items: center;
    margin: auto;
    border:2px solid rgb(59, 59, 59);
    border-radius: 0.3rem;
    color: red;
    margin-top: 2rem;
    background-color: black;

}
.trainers h2 span::before{
    content: "";
    position: absolute;
    background:rgb(59, 59, 59);
    width: 100%;
    height:0.1rem;
    z-index: -1;

}
.tContentContainer{
    display: flex;
    width:100%;
    margin: auto;
    flex-wrap: wrap;
    
}
.tContent{
    display: flex;
    flex-direction: column;
    margin:auto;
    flex:1;
    margin-left: 1rem;
    margin-bottom:1rem;
    flex-wrap:wrap;
    
    
}
.tContent .tImg img{
    width:100%;
    object-fit: cover;
}
.tInfo{
    margin-top: -1rem;
    background-color: rgb(36, 35, 35);
    padding-left:1.5rem
}

.tInfo p{
    margin-top: 1rem;
    color:red;
    margin-bottom:0.5rem;

}
.tInfo h2{
    color: white;
    margin-bottom: 1rem;
}


/* join */

/* .join::before{
    content: "";
    background: url('../images/banner-bg.jpg')no-repeat center center/cover;
    position: absolute;
    top:0px;
    left:0px;
    height: 33%;
    width:100%;
    z-index: -1;
    opacity: 0.90;
} */
.join{
    display: flex;
    background: url('../images/banner-bg.jpg')no-repeat center center/cover;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* height:30vh; */
    margin-bottom: 2rem;
}
.joinContent{
    width: 50%;
    /* height: 40vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0.5rem 1rem;

}
.join h3{
    color: red;
    margin-bottom: 0.5rem;
}
.join h1{
    color: white;
    margin-bottom: 0.5rem;
}
.join p{
    color: rgb(201, 201, 201);
    margin-bottom: 0.5rem;
}
.joinBtn{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    background-color:red;
    color:white;
    padding: 0.5rem 1.4rem;
    clip-path: polygon(100% 0, 100% 71%, 90% 100%, 0 100%, 0 0);
    border-radius:0.2rem;
    font-size: 1.2rem;
    cursor: pointer;

}
.joinBtn:hover{
    transform:scale(1.1);
}


/* testimonial */

.testimonials{
    display: flex;
    width: 90%;
    margin:auto;
    margin-bottom:2rem;
    overflow: hidden;
   
}
.testimonials .testHeading{
    display: flex;
    flex-direction: column;
    width: 30%;
    align-items:flex-start;
    padding: 0rem 2rem;
}
.testHeading h3{
    color: red;
    margin-bottom: 0.5rem;
}
.testHeading h2{
    color: white;
    margin-bottom: 0.5rem;
}
.testHeading p{
    color: rgb(180, 180, 180);
    margin-bottom: 0.5rem;
}

.testSlider{
    display: flex;
    align-items: center;
    /* position: absolute; */
    /* position:relative; */
    /* top: 1%; */
    /* left: 30%; */
    width:70%;
    /* flex: 1; */
    /* background-color: blue; */
    overflow-x: hidden;
}
.testimonials .testContent{
    display: flex;
    flex-direction: column;
    /* position:relative; */
    width: 30%;
    clip-path: polygon(100% 0, 100% 71%, 90% 100%, 0 100%, 0 0);
    background-color: rgb(36, 35, 35);
    padding: 1rem 2rem;
    margin-left: 2rem;
    /* height: 19vh; */

}
.testProfile{
    display:flex;
    align-items: center;
    
}
.testProfile img{
    width:4rem;
    margin: 0.5rem 1rem;
    margin-left: 0;
    clip-path: circle(50% at 50% 50%);
}
.testContent p{
    color: rgb(153, 149, 149);
    /* margin:0 1rem; */
}
.testInfo h2{
    color: white;
}
.testInfo h3{
    color: red;
}
.testBtn{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    background-color:red;
    color:white;
    padding: 0.5rem 1.4rem;
    clip-path: polygon(100% 0, 100% 71%, 90% 100%, 0 100%, 0 0);
    border-radius:0.2rem;
    font-size: 1.2rem;
    cursor: pointer;

}
.testBtn:hover{
    transform:scale(1.1);
}

/* joining form */

.joining{
    width: 90%;
    margin: auto;
    margin-bottom:2rem;
    
}
.joining h2 span{
    display: flex;
    width: 12%;
    padding: 0.5rem 0;
    justify-content: center;
    align-items: center;
    margin: auto;
    border:2px solid rgb(59, 59, 59);
    border-radius: 0.3rem;
    color: red;
    margin-top: 2rem;
    /* margin-bottom:2rem; */
    background-color: black;

}
#success{
    display: flex;
    justify-content: space-between;
    align-items:center;
    border: 2px solid green;
    margin-top:0.2rem;
    margin-bottom:2rem;
    color:white;
    background-color: yellowgreen;
    padding:0.5rem 1rem;
    border-radius: 0.5rem;
    display:none;
}

#sFBtn{
    font-size:1rem;
    padding: 0.2rem 1rem;
    border-radius: 0.3rem;
}
.joining h2 span::before{
    content: "";
    position: absolute;
    background:rgb(59, 59, 59);
    width: 90%;
    height:0.1rem;
    z-index: -1;

}

.joining .joinContainer{
    display:flex;
    
    /* background-color: cadetblue; */
}
.joining .joinImg{
    display:flex;
    flex: 0.6;
    position: relative;

   

}
.joinImg img{
    width: 90%;
    object-fit: cover;
    object-position: center;
    margin: 1rem auto;
    cursor: pointer;
}
.joinImg img:hover{
    transform: scale(1.01);
}
.joinImg::before,
.joinImg::after{
    content: "";
    background-color: red;
    position: absolute;
    z-index: -1;
    height: 8rem;
    width: 8rem;

    
}
.joinImg::before{
    top: 0%;
    left: 2%;
}
.joinImg::after{
    bottom: 0.2%;
    right: 2%;
}
.joinForm{
    display:flex;
    align-items: center;
    flex-direction: column;
    flex:1;
    margin: 1rem 2rem;
    color: white;
}
.joinForm h1,
.joinForm span{
    font-size: 4rem;
    text-align: center;
}
.joinForm span{
    color:red;
}

.formContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:auto;
    /* background-color: cadetblue; */
    width: 90%;
   

}
.formContent .form input{
    width: 100%;
    font-size: 1.5rem;
    margin-bottom: 0.8rem;
    padding: 1rem 1rem;
    background-color: rgb(36, 35, 35);
    color:white;
    border-radius: 0.8rem;
}
#formBtn{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    background-color:red;
    color:white;
    padding: 0.5rem 1.4rem;
    clip-path: polygon(100% 0, 100% 71%, 90% 100%, 0 100%, 0 0);
    border-radius:0.2rem;
    font-size: 1.2rem;
    cursor: pointer;

}
#formBtn:hover{
    transform:scale(1.1);
}

.notValid{
    border: 2px solid red;
}
/* blog section  */

.blogs{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
    position: relative;
    margin-bottom:2rem
}

.blogs h2 span{
    display: flex;
    width: 10%;
    padding: 0.5rem 0;
    justify-content: center;
    align-items: center;
    margin: auto;
    border:2px solid rgb(59, 59, 59);
    border-radius: 0.3rem;
    color: red;
    margin-top: 2rem;
    background-color: black;

}
.blogs h2 span::before{
    content: "";
    position: absolute;
    background:rgb(59, 59, 59);
    width: 100%;
    height:0.1rem;
    z-index: -1;

}
.blogContentContainer{
    display: flex;
    width:100%;
    margin: auto;
    flex-wrap: wrap;
    
}
.blogContent{
    display: flex;
    flex-direction: column;
    /* margin:auto; */
    /* flex:1; */
    width:32%;
    background-color: rgb(36, 35, 35);
    margin-left: 1rem;
    margin-bottom:1rem;
    flex-wrap:wrap;
}
.blogContent .bImg img{
    width:100%;


}
.bInfo{
    padding:1rem 1rem;

}

.bInfo #bText strong{
    color:red;
    
}
.bInfo #bLine{
    color:white;
    
}
.bInfo h2{
    color:white;
    margin-bottom: 0.5rem;
    margin-top:0.5em;
}
.bInfo p{
    color: rgb(153, 149, 149);
    margin-bottom: 0.5rem;

}
.bBtn{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    background-color:red;
    color:white;
    padding: 0.5rem 1.4rem;
    clip-path: polygon(100% 0, 100% 71%, 90% 100%, 0 100%, 0 0);
    border-radius:0.2rem;
    font-size: 1.2rem;
    cursor: pointer;

}
.bBtn:hover{
    transform:scale(1.1);
}


/* footer  */


.footer{
    display: flex;
    width: 100%;
    margin: auto;
    margin-top: 3rem;
    padding-top: 3rem;
}
.footerContent{
    display: flex;
    flex-direction: column;
    flex:1;
    /* background-color: royalblue; */
}

.footerContent h3{
    color:white;
    margin-bottom: 0.5rem;
}
.footerContent a{
    margin-bottom: 0.5rem;
    color: rgb(153, 149, 149);
    
}

.footerContent p{
    margin-bottom: 0.5rem;
    color: rgb(153, 149, 149);
    
}
.footerContent p i{
    color: red;
}

.footerContent .share a{
    color: white;
    clip-path: circle(50% at 50% 50%);
    padding:0.7rem 0.7rem;
    background-color: rgb(36, 35, 35);
    align-items:center;

}
.footerContent .share a:hover{
    transform: scale(1.1);
}
.footerContent input{
    padding: 0.3rem 1rem;
    width: 100%;
    font-size: 1rem;
    background-color: rgb(36, 35, 35);
    color:white;
    margin-bottom: 0.5rem;
}
.footerBtn{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    background-color:red;
    color:white;
    padding: 0.5rem 1.4rem;
    clip-path: polygon(100% 0, 100% 71%, 90% 100%, 0 100%, 0 0);
    border-radius:0.2rem;
    font-size: 1rem;
    cursor: pointer;

}
.footerBtn:hover{
    transform:scale(1.1);
}
.credit{
    margin-top:4rem;
      display: flex;
      width:100%;
      justify-content: center;
      align-items: center;
      color:white
}
.credit span{
    color:red;
    padding:0 0.2rem;
}


@media screen and (max-width:1580px) {

    /* features */

    .mainBox{
        display: flex;
        width: 100%;
        margin: auto;
        height:46.5rem;
        flex-wrap: wrap;
    }

    .features h2 span{
        width: 18%;
        font-size: 1.3rem;

    }
    .fContainer{
        display: flex;
        flex-direction:column;
        flex:1;
        background-color: rgb(36, 35, 35);
        
    }
    .fContainer2{
        display: flex;
        flex:1;
        flex-direction: column;
        flex-direction: column-reverse;
        background-color: rgb(36, 35, 35);
        /* border: 2px solid green; */
    

    }

    .fImage img{
        width:100%;
        cursor:pointer;
        
    }
    .fImage img:hover{
        transform: scale(1.02);

    }


    .fContent{
        padding: 0.5rem 0.5rem;
        flex:1;
    

    }
    .fContent2{
       padding: 0.5rem 0.5rem;
        flex:1;
    }
    .fContent h3,
    .fContent2 h3{
        font-size: 1.2rem;
        margin-top: 0.3rem;
    }
    .fIcon{
        margin-top: 0.4rem;
        font-size: 2rem;
        filter: invert();

        
    }
    .fIcon img{
        font-size: 2rem;

    }
    .fContent p,
    .fContent2 p{
        margin-top: 0.3rem;
        font-size: 0.9rem;
    }
    .fBtn{
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        background-color:red;
        color:white;
        padding: 0.5rem 1.4rem;
        clip-path: polygon(100% 0, 100% 71%, 90% 100%, 0 100%, 0 0);
        border-radius:0.2rem;
        font-size: 1.2rem;
        cursor: pointer;
    }
    .fBtn:hover{
        transform: scale(1.1);
    }
    
}


@media screen and (max-width:1200px){
    /* about  */
    #imgLogo{
        margin-right: 1rem;
        margin-left:0.5rem;
    }

    #imgLogo img{
        width: 93%;
        object-fit: cover;
        object-position: center;
        margin: 1rem auto;
        cursor: pointer;
    }
    #imgLogo::before,
    #imgLogo::after{
    content: "";
    background-color: red;
    position: absolute;
    z-index: -1;
    height: 8rem;
    width: 8rem;

    
}
    #imgLogo::before{
        top: 0%;
        left: 0%;
    }
    #imgLogo::after{
        bottom: 0%;
        right: 0%;
    }
    .aboutContainer{
        flex-wrap:wrap ;
        padding-right: 6rem;
        margin-top: 3rem;
        
    }
    .writingContent h3{
        font-size: 1.3rem;
    }
    .writingContent h2{
        font-size: 1.6rem;
    }
    .writingContent p{
       font-size: 1rem;
        font-weight: 3rem;
    }
    .somePoints{
        display:flex;
        margin-top: 1.5rem;
        flex-wrap: wrap;
        
    }
    .pointBox{
        margin-bottom: 1rem;
        width: 50%;
        padding: 0 3rem 0rem 0;
    
    }
    
    .pointBox h3{
        font-size: 1.3rem;
        margin-bottom: 0.3rem;
    }
    .pointBox h3 i{
        margin-right: 0.5rem;
        font-size:1.2rem;
    }
    .pointBox p{
        font-size: 1rem;
    }
    #readBtn{
        padding: 0.3rem 1rem;
        font-size: 1rem;
    }


}

@media screen and (max-width:1024px){
    .content span{
        font-size:1rem ;
    }
    .content h3{
        font-size:1.5rem ;
    } 

    /* about  */
    #imgLogo{
        margin-right: 1rem;
        margin-left:0.5rem;
    }

    #imgLogo img{
        width: 93%;
        object-fit: cover;
        object-position: center;
        margin: 1rem auto;
        cursor: pointer;
    }
    #imgLogo::before,
    #imgLogo::after{
    content: "";
    background-color: red;
    position: absolute;
    z-index: -1;
    height: 7rem;
    width: 7rem;

    
}
    #imgLogo::before{
        top: 0%;
        left: 0%;
    }
    #imgLogo::after{
        bottom: 0%;
        right: 0%;
    }
    .aboutContainer{
        flex-wrap:wrap ;
        padding-right: 4rem;
        margin-top: 3rem;
        
    }
    .writingContent h3{
        font-size: 1rem;
    }
    .writingContent h2{
        font-size: 1.2rem;
    }
    .writingContent p{
       font-size: 0.8rem;
        font-weight: 3rem;
    }
    .somePoints{
        display:flex;
        margin-top: 1.5rem;
        flex-wrap: wrap;
        
    }
    .pointBox{
        margin-bottom: 0.8rem;
        width: 50%;
        padding: 0 2rem 0rem 0;
    
    }
    
    .pointBox h3{
        font-size: 1rem;
        margin-bottom: 0.3rem;
    }
    .pointBox h3 i{
        margin-right: 0.5rem;
        font-size:1rem;
    }
    .pointBox p{
        font-size: 0.8rem;
    }
    #readBtn{
        padding: 0.3rem 1rem;
        font-size: 1rem;
    }

    /* features */

    .features h2 span{
        width: 18%;
        font-size: 1rem;

    }
    .fContent h3,
    .fContent2 h3{
        font-size: 1rem;
        margin-top: 0.3rem;
    }
    .fIcon{
        margin-top: 0.3rem;
    }
    .fContent p,
    .fContent2 p{
        font-size: 0.8rem;
        margin-top: 0.3rem;
    }
    .fBtn{
        padding: 0.3rem 1rem;
        font-size: 1rem;
    }

    
    /* pricing  */

    .pContent2 h3,
    .pContent3 h3{
        color: white;
        font-size: 1.1rem;
    }
    .pContent2 h2 span,
    .pContent3 h2 span{
        font-size: 2rem;
        
    }
    .pContent1 h1{
        font-size: 1.5rem;
    }
    .pBtn{
        padding: 0.3rem 1rem;
        font-size: 1rem;
       
    
    }

    /* trainers  */
    .trainers h2 span{
        width: 18%;
        font-size: 1rem;
        
    
    }
    .tInfo p{
        font-size: 0.8rem;
    
    }
    .tInfo h2{
        font-size: 1.3rem;
    }

    /* join  */

    .join h3{
        font-size: 1rem;
        margin-bottom: 0.3rem;
    }
    .join h1{
        font-size:1.8rem;
        margin-bottom: 0.3rem;
    }
    .join p{
        font-size:0.8rem;
        margin-bottom: 0.3rem;
    }
    .joinBtn{
        padding: 0.3rem 1rem;
        font-size: 1rem;
    
    }
    .joinContent{
        width: 60%;
        padding: 0.5rem 1rem;
    
    }

    /* testimonials  */
    .testimonials .testHeading{
        width: 30%;
        padding: 0rem 1rem;
    }
    .testHeading h3{
        font-size: 1rem;
        margin-bottom: 0.3rem;
    }
    .testHeading h2{
        font-size: 1.2rem;
        margin-bottom: 0.3rem;
    }
    .testHeading p{
        font-size: 0.8rem;
        margin-bottom: 0.3rem;
    }
   
    .testimonials .testContent{
        padding: 0.7rem 1rem;
        margin-left: 1.2rem;
    }
    .testProfile img{
        width:2rem;
        margin: 0.2rem 0.7rem;
    }
    .testContent p{
        font-size: 0.8rem;
        color: rgb(153, 149, 149);
    }
    .testInfo h2{
        font-size: 1.2rem;
    }
    .testInfo h3{
        font-size: 0.8rem;
    }
    .testBtn{
        padding: 0.3rem 1rem;
        font-size: 1rem;
    
    }

    /* joining form  */
    .joining h2 span{
        width: 18%;
        font-size: 1rem;
    
    }
    .joining .joinImg{
        flex: 0.7;
    
    }
    .joinImg::before,
    .joinImg::after{
        content: "";
        background-color: red;
        position: absolute;
        z-index: -1;
        height: 7rem;
        width: 7rem;
    }
    .joinImg::before{
        top: 1%;
        left: 2%;
    }
    .joinImg::after{
        bottom: 0.7%;
        right: 2%;
    }
    .joinForm h1,
    .joinForm span{
        font-size: 3rem;
    }
    
    .formContent .form input{
        font-size: 1.2rem;
        margin-bottom: 0.6rem;
        padding: 0.5rem 0.5rem;
    }
    #formBtn{
        padding: 0.3rem 1rem;
        font-size: 1rem;
       
    
    }

    /* blog section  */

.blogs h2 span{
    width: 18%;
    font-size: 1rem;

}
.blogContent{
    display: flex;
    flex-direction: column;
    margin:auto;
    flex:1;
    margin-left: 1rem;
    margin-bottom:1rem;
    flex-wrap:wrap;
}

.bInfo{
    padding:1rem 1rem;

}

.bInfo #bText strong{
    font-size: 0.8rem;
    
}
.bInfo h2{
    font-size: 1.2rem;
    margin-bottom: 0.3rem;
    margin-top:0.3rem;
}
.bInfo p{
    font-size: 0.8rem;
    margin-bottom: 0.3rem;

}
.bBtn{
    padding: 0.3rem 1rem;
    font-size: 1rem;
}

/* footer  */

.footerContent h3{
    font-size: 1rem;
    margin-bottom: 0.3rem;
}
.footerContent a{
    font-size:0.8rem;
    margin-bottom: 0.3rem;
    
}

.footerContent p{
    font-size:0.8rem;
    margin-bottom: 0.5rem;
}

.footerContent .share a{
    padding:0.5rem 0.5rem;
}
.footerContent input{
    padding: 0.3rem 0.5rem;
    font-size: 0.8rem;
    margin-bottom: 0.3rem;
}
.footerBtn{
    padding: 0.3rem 1rem;
    font-size: 1rem;
}


}

@media screen and (max-width:830px){
    .content span{
        font-size:0.8rem ;
    }
    .content h3{
        font-size:1rem ;
    } 

    /* about  */
    #imgLogo::before,
    #imgLogo::after{
    content: "";
    background-color: red;
    position: absolute;
    z-index: -1;
    height: 6rem;
    width: 6rem;
    }  
    #imgLogo::before{
        top: 1.2%;
        left: 0%;
    }
    #imgLogo::after{
        bottom: 1.2%;
        right: 0%;
    }
    #imgLogo{
        margin-top:2rem;
    }
    .aboutContainer{
        flex-wrap:wrap ;
        padding-right: 3.3rem;
        margin-top: 2rem;
        
    }
    .writingContent h3{
        font-size: 0.8rem;
    }
    .writingContent h2{
        font-size: 1rem;
    }
    .writingContent p{
       font-size: 0.6rem;
        font-weight: 3rem;
    }
    .somePoints{
        display:flex;
        margin-top: 1rem;
        flex-wrap: wrap;
        
    }
    .pointBox{
        margin-bottom: 0.8rem;
        width: 50%;
        padding: 0 1.8rem 0rem 0;
    
    }
    .pContent2 h2 strong,
    .pContent3 h2 strong{
       color: white;
       font-size: 1.5rem;
    }
    
    .pointBox h3{
        font-size: 0.8rem;
        margin-bottom: 0.2rem;
    }
    .pointBox h3 i{
        margin-right: 0.5rem;
        font-size:0.7rem;
    }
    .pointBox p{
        font-size: 0.6rem;
    }
    #readBtn{
        padding: 0.3rem 0.8rem;
        font-size: 0.8rem;
    }

    /* features */

    .features h2 span{
        width: 20%;
        font-size: 0.8rem;

    }
    .fContent h3,
    .fContent2 h3{
        font-size: 0.8rem;
        margin-top: 0.2rem;
    }
    .fIcon{
        margin-top: 0.2rem;
    }
    .fContent p,
    .fContent2 p{
        font-size: 0.6rem;
        margin-top: 0.2rem;
    }
    .fBtn{
        padding: 0.3rem 0.8rem;
        font-size: 0.8rem;
    }

    
    /* pricing  */

    .pContent2 h3,
    .pContent3 h3{
        color: white;
        font-size: 1rem;
    }
    .pContent1 p{
        font-size: 0.6rem;
    }
    .pContent2 p,
    .pContent3 p{
        font-size: 0.6rem;
    }
    .pContent1 h3{
        font-size: 0.9rem;
    }
    .pContent2 h2 span,
    .pContent3 h2 span{
        font-size: 1.9rem;
        
    }
    .pContent1 h1{
        font-size: 1.2rem;
    }
    .pBtn{
        padding: 0.3rem 0.8rem;
        font-size: 0.8rem;
       
    
    }

    /* trainers  */
    .trainers h2 span{
        width: 20%;
        font-size: 0.8rem;
        
    
    }
    .tInfo p{
        font-size: 0.6rem;
    
    }
    .tInfo h2{
        font-size: 1rem;
    }

    /* join  */

    .join h3{
        font-size: 0.8rem;
        margin-bottom: 0.2rem;
    }
    .join h1{
        font-size:1.4rem;
        margin-bottom: 0.2rem;
    }
    .join p{
        font-size:0.6rem;
        margin-bottom: 0.2rem;
    }
    .joinBtn{
        padding: 0.3rem 0.8rem;
        font-size: 0.8rem;
    
    }
    .joinContent{
        width: 60%;
        padding: 0.3rem 0.8rem;
    
    }

    /* testimonials  */
    .testimonials .testHeading{
        width: 30%;
        padding: 0rem 0.8rem;
    }
    .testHeading h3{
        font-size: 0.8rem;
        margin-bottom: 0.2rem;
    }
    .testHeading h2{
        font-size: 1rem;
        margin-bottom: 0.2rem;
    }
    .testHeading p{
        font-size: 0.6rem;
        margin-bottom: 0.2rem;
    }
   
    .testimonials .testContent{
        padding: 0.5rem 0.8rem;
        margin-left: 1rem;
    }
    .testProfile img{
        width:1.8rem;
        margin: 0.2rem 0.3rem 0.2rem 0rem ;
    }
    .testContent p{
        font-size: 0.6rem;
    }
    .testInfo h2{
        font-size: 0.8rem;
    }
    .testInfo h3{
        font-size: 0.6rem;
    }
    .testBtn{
        padding: 0.3rem 0.8rem;
        font-size: 0.8rem;
    
    }

    /* joining form  */
    .joining h2 span{
        width: 19%;
        font-size: 0.8rem;
    
    }
    .joining .joinImg{
        flex: 0.8;
    
    }
    .joinImg::before,
    .joinImg::after{
        content: "";
        background-color: red;
        position: absolute;
        z-index: -1;
        height: 6rem;
        width: 6rem;
    }
    .joinImg::before{
        top: 1.4%;
        left: 2%;
    }
    .joinImg::after{
        bottom: 1%;
        right: 1%;
    }
    .joinForm h1,
    .joinForm span{
        font-size: 2.5rem;
    }
    
    .formContent .form input{
        font-size: 1rem;
        margin-bottom: 0.4rem;
        padding: 0.4rem 0.5rem;
    }
    #formBtn{
        padding: 0.3rem 0.8rem;
        font-size: 0.8rem;
       
    
    }

    /* blog section  */

.blogs h2 span{
    width: 20%;
    font-size: 0.8rem;

}
.blogContent{
    display: flex;
    flex-direction: column;
    margin:auto;
    flex:1;
    margin-left: 0.8rem;
    margin-bottom:1rem;
    flex-wrap:wrap;
}

.bInfo{
    padding:0.8rem 0.8rem;

}

.bInfo #bText strong{
    font-size: 0.6rem;
    
}
.bInfo h2{
    font-size: 0.9rem;
    margin-bottom: 0.2rem;
    margin-top:0.2rem;
}
.bInfo p{
    font-size: 0.6rem;
    margin-bottom: 0.2rem;

}
.bBtn{
    padding: 0.3rem 0.8rem;
    font-size: 0.8rem;
}

/* footer  */

.footerContent h3{
    font-size: 0.8rem;
    margin-bottom: 0.2rem;
}
.footerContent a{
    font-size:0.6rem;
    margin-bottom: 0.2rem;
    
}

.footerContent p{
    font-size:0.6rem;
    margin-bottom: 0.3rem;
}

.footerContent .share a{
    padding:0.2rem 0.2rem;
}
.footerContent input{
    padding: 0.2rem 0.4rem;
    font-size: 0.6rem;
    margin-bottom: 0.2rem;
}
.footerBtn{
    padding: 0.3rem 0.8rem;
    font-size: 0.8rem;
}


}

@media screen and (max-width:650px){
    .content span{
        font-size:0.8rem ;
    }
    .content h3{
        font-size:1rem ;
    } 

    /* about  */
    #imgLogo::before,
    #imgLogo::after{
    content: "";
    background-color: red;
    position: absolute;
    z-index: -1;
    height: 5rem;
    width: 5rem;

    
}
    #imgLogo::before{
        top: 2.5%;
        left: 0%;
    }
    #imgLogo::after{
        bottom: 2.5%;
        right: 0%;
    }
    #imgLogo{
        margin-top:1.5rem;
    }
   
    .aboutContainer{
        flex-wrap:wrap ;
        padding-right: 3rem;
        margin-top: 1.5rem;
        
    }
    .writingContent h3{
        font-size: 0.6rem;
    }
    .writingContent h2{
        font-size: 0.8rem;
    }
    .writingContent p{
       font-size: 0.4rem;
        font-weight: 3rem;
    }
    .somePoints{
        display:flex;
        margin-top: 0.8rem;
        flex-wrap: wrap;
        
    }
    .pointBox{
        margin-bottom: 0.6rem;
        width: 50%;
        padding: 0 1.6rem 0rem 0;
    
    }
    
    .pointBox h3{
        font-size: 0.6rem;
        margin-bottom: 0.1rem;
    }
    .pointBox h3 i{
        margin-right: 0.3rem;
        font-size:0.7rem;
    }
    .pointBox p{
        font-size: 0.4rem;
    }
    #readBtn{
        padding: 0.3rem 0.6rem;
        font-size: 0.6rem;
    }

    /* features */

    .features h2 span{
        width: 20%;
        font-size: 0.6rem;

    }
    .fContent h3,
    .fContent2 h3{
        font-size: 0.6rem;
        margin-top: 0.2rem;
    }
    .fIcon{
        margin-top: 0.2rem;
    }
    .fContent p,
    .fContent2 p{
        font-size: 0.4rem;
        margin-top: 0.2rem;
    }
    .fBtn{
        padding: 0.3rem 0.6rem;
        font-size: 0.6rem;
    }

    
    /* pricing  */

    .pContent2 h3,
    .pContent3 h3{
        color: white;
        font-size: 0.8rem;
    }
    .pContent1 p{
        font-size: 0.4rem;
    }
    .pContent2 h2 strong,
    .pContent3 h2 strong{
       color: white;
       font-size: 1.2rem;
    }
    .pContent2 p,
    .pContent3 p{
        font-size: 0.4rem;
    }
    .pContent1 h3{
        font-size: 0.7rem;
    }
    .pContent2 h2 span,
    .pContent3 h2 span{
        font-size: 1.7rem;
        
    }
    .pContent1 h1{
        font-size: 1rem;
    }
    .pBtn{
        padding: 0.3rem 0.6rem;
        font-size: 0.6rem;
       
    
    }

    /* trainers  */
    .trainers h2 span{
        width: 20%;
        font-size: 0.6rem;
        
    
    }
    .tInfo p{
        font-size: 0.4rem;
    
    }
    .tInfo h2{
        font-size: 0.8rem;
    }

    /* join  */

    .join h3{
        font-size: 0.6rem;
        margin-bottom: 0.1rem;
    }
    .join h1{
        font-size:1.2rem;
        margin-bottom: 0.2rem;
    }
    .join p{
        font-size:0.4rem;
        margin-bottom: 0.1rem;
    }
    .joinBtn{
        padding: 0.3rem 0.6rem;
        font-size: 0.6rem;
    
    }
    .joinContent{
        width: 62%;
        padding: 0.3rem 0.8rem;
    
    }

    /* testimonials  */
    .testimonials .testHeading{
        width: 30%;
        padding: 0rem 0.8rem;
    }
    .testHeading h3{
        font-size: 0.6rem;
        margin-bottom: 0.2rem;
    }
    .testHeading h2{
        font-size: 0.8rem;
        margin-bottom: 0.2rem;
    }
    .testHeading p{
        font-size: 0.4rem;
        margin-bottom: 0.1rem;
    }
   
    .testimonials .testContent{
        padding: 0.3rem 0.6rem;
        margin-left: 0.8rem;
    }
    .testProfile img{
        width:1.6rem;
        margin: 0.1rem 0.2rem 0.1rem 0rem ;
    }
    .testContent p{
        font-size: 0.4rem;
    }
    .testInfo h2{
        font-size: 0.6rem;
    }
    .testInfo h3{
        font-size: 0.4rem;
    }
    .testBtn{
        padding: 0.3rem 0.6rem;
        font-size: 0.6rem;
    
    }

    /* joining form  */
    .joining h2 span{
        width: 19%;
        font-size: 0.7rem;
    
    }
    .joining .joinImg{
        flex: 0.9;
    
    }
    .joinImg::before,
    .joinImg::after{
        content: "";
        background-color: red;
        position: absolute;
        z-index: -1;
        height: 5rem;
        width: 5rem;
    }
    .joinImg::before{
        top: 2%;
        left: 2%;
    }
    .joinImg::after{
        bottom: 1.6%;
        right: 1%;
    }
    .joinForm h1,
    .joinForm span{
        font-size: 2rem;
    }
    
    .formContent .form input{
        font-size: 0.8rem;
        margin-bottom: 0.3rem;
        padding: 0.3rem 0.4rem;
    }
    #formBtn{
        padding: 0.3rem 0.6rem;
        font-size: 0.6rem;
       
    
    }

    /* blog section  */

.blogs h2 span{
    width: 20%;
    font-size: 0.7rem;

}
.blogContent{
    display: flex;
    flex-direction: column;
    margin:auto;
    flex:1;
    margin-left: 0.6rem;
    margin-bottom:1rem;
    flex-wrap:wrap;
}

.bInfo{
    padding:0.6rem 0.6rem;

}

.bInfo #bText strong{
    font-size: 0.4rem;
    
}
.bInfo h2{
    font-size: 0.7rem;
    margin-bottom: 0.2rem;
    margin-top:0.2rem;
}
.bInfo p{
    font-size: 0.4rem;
    margin-bottom: 0.1rem;

}
.bBtn{
    padding: 0.3rem 0.6rem;
    font-size: 0.6rem;
}

/* footer  */
.footer{
    margin-top: 2rem;
    padding-top: 1rem;
}

.footerContent h3{
    font-size: 0.6rem;
    margin-bottom: 0.2rem;
}
.footerContent a{
    font-size:0.4rem;
    margin-bottom: 0.2rem;
    
}

.footerContent p{
    font-size:0.4rem;
    margin-bottom: 0.2rem;
}

.footerContent .share a{
    padding:0.2rem 0.2rem;
}
.footerContent input{
    padding: 0.1rem 0.3rem;
    font-size: 0.4rem;
    margin-bottom: 0.2rem;
}
.footerBtn{
    padding: 0.3rem 0.6rem;
    font-size: 0.6rem;
}
.credit{
    margin-top:2.5rem;
    font-size:0.6rem;
}

}

@media screen and (max-width:450px){
    .content span{
        font-size:0.6rem ;
    }
    .content h3{
        font-size:0.8rem ;
    } 

    /* about  */
    #imgLogo::before,
    #imgLogo::after{
    content: "";
    background-color: red;
    position: absolute;
    z-index: -1;
    height: 3rem;
    width: 3rem;

    
}

    #imgLogo::before{
        top: 4.5%;
        left: 0%;
    }
    #imgLogo::after{
        bottom: 4.5%;
        right: 0%;
    }
    .aboutContainer{
        flex-wrap:wrap ;
        padding-right: 3rem;
        margin-top: 1rem;
        
    }
    .writingContent h3{
        font-size: 0.4rem;
    }
    .writingContent h2{
        font-size: 0.6rem;
    }
    .writingContent p{
       font-size: 0.2rem;
    }
    .somePoints{
        margin-top: 0.6rem;
        
    }
    .pointBox{
        margin-bottom: 0.5rem;
        width: 50%;
        padding: 0 1.4rem 0rem 0;
    
    }
    
    .pointBox h3{
        font-size: 0.4rem;
        margin-bottom: 0.1rem;
    }
    .pointBox h3 i{
        margin-right: 0.3rem;
        font-size:0.3rem;
    }
    .pointBox p{
        font-size: 0.2rem;
    }
    #readBtn{
        padding: 0.2rem 0.4rem;
        font-size: 0.4rem;
    }

    /* features */

    .features h2 span{
        width: 21%;
        font-size: 0.4rem;

    }
    .fContent h3,
    .fContent2 h3{
        font-size: 0.4rem;
        margin-top: 0.1rem;
    }
    .fIcon{
        margin-top: 0.1rem;

    }
    .fIcon img{
        width: 50%;
    }
    .fContent p,
    .fContent2 p{
        font-size: 0.2rem;
        margin-top: 0.1rem;
    }
    .fBtn{
        padding: 0.2rem 0.4rem;
        font-size: 0.4rem;
    }
    
    /* pricing  */

    .pContent2 h3,
    .pContent3 h3{
        color: white;
        font-size: 0.6rem;
    }
    .pContent1 p{
        font-size: 0.2rem;
    }
    .pContent2 p,
    .pContent3 p{
        font-size: 0.2rem;
    }
    .pContent1 h3{
        font-size: 0.5rem;
    }
    .pContent2 h2 span,
    .pContent3 h2 span{
        font-size: 1.7rem;
        
    }

    .pContent2 h2 strong,
    .pContent3 h2 strong{
       color: white;
       font-size: 1rem;
    }
    .pContent1 h1{
        font-size: 0.8rem;
    }
    .pBtn{
        padding: 0.2rem 0.4rem;
        font-size: 0.4rem;
       
    
    }

    /* trainers  */
    .trainers h2 span{
        width: 21%;
        font-size: 0.4rem;
        
    
    }
    .tInfo p{
        font-size: 0.2rem;
    
    }
    .tInfo h2{
        font-size: 0.6rem;
    }

    /* join  */

    .join h3{
        font-size: 0.4rem;
        margin-bottom: 0.1rem;
    }
    .join h1{
        font-size:1rem;
        margin-bottom: 0.1rem;
    }
    .join p{
        font-size:0.3rem;
        margin-bottom: 0.1rem;
    }
    .joinBtn{
        padding: 0.2rem 0.4rem;
        font-size: 0.4rem;
    
    }
    .joinContent{
        width: 64%;
        padding: 0.2rem 0.7rem;
    
    }

    /* testimonials  */
    .testimonials .testHeading{
        width: 30%;
        padding: 0rem 0.6rem;
    }
    .testHeading h3{
        font-size: 0.4rem;
        margin-bottom: 0.1rem;
    }
    .testHeading h2{
        font-size: 0.8rem;
        margin-bottom: 0.1rem;
    }
    .testHeading p{
        font-size: 0.2rem;
        margin-bottom: 0.1rem;
    }
   
    .testimonials .testContent{
        padding: 0.2rem 0.4rem;
        margin-left: 0.6rem;
    }
    .testProfile img{
        width:1.1rem;
        margin: 0.1rem 0.1rem 0.1rem 0rem ;
    }
    .testContent p{
        font-size: 0.2rem;
    }
    .testInfo h2{
        font-size: 0.4rem;
    }
    .testInfo h3{
        font-size: 0.2rem;
    }
    .testBtn{
        padding: 0.2rem 0.4rem;
        font-size: 0.4rem;
    
    }

    /* joining form  */
    .joining h2 span{
        width: 21%;
        font-size: 0.4rem;
    
    }
    .joining .joinImg{
        flex: 1;
    
    }
    .joinImg::before,
    .joinImg::after{
        content: "";
        background-color: red;
        position: absolute;
        z-index: -1;
        height: 4rem;
        width: 4rem;
    }
    .joinImg::before{
        top: 4%;
        left: 1%;
    }
    .joinImg::after{
        bottom: 4%;
        right: 0.2%;
    }
    .joinForm h1,
    .joinForm span{
        font-size: 1.8rem;
    }
    
    .formContent .form input{
        font-size: 0.6rem;
        margin-bottom: 0.2rem;
        padding: 0.2rem 0.3rem;
    }
    #formBtn{
        padding: 0.2rem 0.4rem;
        font-size: 0.4rem;
       
    
    }

    /* blog section  */

.blogs h2 span{
    width: 21%;
    font-size: 0.4rem;

}
.blogContent{
    display: flex;
    flex-direction: column;
    margin:auto;
    flex:1;
    margin-left: 0.4rem;
    margin-bottom:1rem;
    flex-wrap:wrap;
}

.bInfo{
    padding:0.4rem 0.4rem;

}

.bInfo #bText strong{
    font-size: 0.2rem;
    margin-bottom: 0.1rem;
}
.bInfo h2{
    font-size: 0.4rem;
    margin-bottom: 0.1rem;
    margin-top:0.1rem;
}
.bInfo p{
    font-size: 0.2rem;
    margin-bottom: 0.1rem;

}
.bBtn{
    padding: 0.2rem 0.4rem;
    font-size: 0.4rem;
}

/* footer  */

.footer{
    margin-top: 2rem;
    padding-top: 0rem;
}

.footerContent h3{
    font-size: 0.4rem;
    margin-bottom: 0.1rem;
}
.footerContent a{
    font-size:0.2rem;
    margin-bottom: 0.1rem;
    
}

.footerContent p{
    font-size:0.2rem;
    margin-bottom: 0.1rem;
}

.footerContent .share a{
    padding:0.2rem 0.2rem;
}
.footerContent input{
    padding: 0.1rem 0.2rem;
    font-size: 0.3rem;
    margin-bottom: 0.1rem;
}
.footerBtn{
    padding: 0.2rem 0.4rem;
    font-size: 0.4rem;
}
.credit{
    margin-top:1.5rem;
    font-size: 0.4rem;
}


}


@media screen and (max-width:800px){
    #menu-btn{
        display:inline-flex;
       
    }
    #menu-btn.fa-times { 
        transform: rotate(180deg);
    }
    
    #navbar{
       
        position: absolute;
        top: 5.9vh;
        left: 0;
        right: 0;
        width: 100%;
        background: rgb(27, 27, 27);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        /* clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%); */

        
        
    }
    #navbar.active{
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%);

    }
    #navbar ul{
        flex-direction: column;

    }
    

}
    
    